@using Organizr.Domain.Entities

<Row>
    <SearchBar/>
    <Row Style="padding: 2rem" Flex="Flex.JustifyContent.Around">
        <Button Color="Color.Primary" Clicked="OnAddMemberButton_Clicked">Tilføj Person</Button>
    </Row>
</Row>

<DataGrid TItem="Member"
          Data="Group.Member">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Member.Id)" Sortable="true" Caption="Id">
            <DisplayTemplate>
                <Button Clicked="() => OnEditMemberLink_Clicked(context.Id)" Color="Color.Link">@context.Id</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(Member.FirstName)" Sortable="true" Caption="Fornavn"/>
        <DataGridColumn Field="@nameof(Member.LastName)" Sortable="true" Caption="Efternavn"/>
        <DataGridColumn Field="@nameof(Member.Gender)" Sortable="true" Caption="Køn"/>
        <DataGridColumn Field="@nameof(Member.Address)" Sortable="true" Caption="Adresse"/>
        <DataGridColumn Field="@nameof(Member.PhoneNumber)" Sortable="true" Caption="Telefon"/>
        <DataGridColumn Sortable="true">Rolle</DataGridColumn>
        <DataGridColumn Sortable="true">Administrer</DataGridColumn>
    </DataGridColumns>
</DataGrid>

<MemberOverviewAddMemberModal @ref="addMemberModal" Group="Group" /> 

@code {

    [Parameter]
    public MemberGroup Group { get; set; } = new();

    private MemberOverviewAddMemberModal addMemberModal;

    private void OnEditMemberLink_Clicked(int memberId)
    {
        NavigationManager.NavigateTo($"/EditPerson/{memberId}");
    }

    private async Task OnAddMemberButton_Clicked()
    {
        await addMemberModal.Show();
    }
}