<Modal @ref="_removeMemberModalRef">
    <ModalContent>
        <ModalHeader>
            Fjern (@MemberToBeDeleted.Id) @MemberToBeDeleted.FirstName @MemberToBeDeleted.LastName fra @Group.Name?
        </ModalHeader>
        <ModalBody>
            <Div>
                <Button Color="Color.Danger" Clicked="OnRemoveButton_Clicked">Slet</Button>
                <Button Color="Color.Secondary" Clicked="OnCancelButton_Clicked">Afbryd</Button>
            </Div>
        </ModalBody>
    </ModalContent>
</Modal>

<Snackbar @ref="_snackbarSuccess" Color="SnackbarColor.Success">
    <SnackbarBody TextWeight="TextWeight.Bold">
        (@MemberToBeDeleted.Id) @MemberToBeDeleted.FirstName @MemberToBeDeleted.LastName er blevet fjernet fra @Group.Name
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="_snackbarError" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        (@MemberToBeDeleted.Id) @MemberToBeDeleted.FirstName @MemberToBeDeleted.LastName kunne ikke fjernes fra @Group.Name 
    </SnackbarBody>
</Snackbar>

@code {

    [Parameter]
    public MemberGroup Group { get; set; } = new();

    [Parameter]
    public Member MemberToBeDeleted { get; set; } = new();

    [Parameter]
    public EventCallback OnGroupContentChanged { get; set; }

    private Modal? _removeMemberModalRef;
    private Snackbar _snackbarSuccess = new();
    private Snackbar _snackbarError = new();

    public async Task Show()
    {
        await _removeMemberModalRef!.Show();
    }

    private async Task OnRemoveButton_Clicked()
    {
        var result = await GroupService.RemoveMemberFromGroup(Group.Id, MemberToBeDeleted.Id);

        if (result is null)
        {
            await _snackbarError.Show();
            return;
        }

        await _snackbarSuccess.Show();
        Group.Members.Remove(MemberToBeDeleted);
        await OnGroupContentChanged.InvokeAsync();
        await _removeMemberModalRef!.Hide();
    }

    private async Task OnCancelButton_Clicked()
    {
        await _removeMemberModalRef!.Hide();
    }
}