<Modal @ref="_removeMemberModalRef">
    <ModalContent>
        <ModalHeader>
            Fjern (@MembershipToBeDeleted.Member.Id) @MembershipToBeDeleted.Member.FirstName @MembershipToBeDeleted.Member.LastName fra @Group.Name?
        </ModalHeader>
        <ModalBody>
            <Div>
                <Button Color="Color.Danger" Clicked="OnRemoveButton_Clicked">Slet</Button>
                <Button Color="Color.Secondary" Clicked="OnCancelButton_Clicked">Afbryd</Button>
            </Div>
        </ModalBody>
    </ModalContent>
</Modal>

<Snackbar @ref="_snackbarSuccess" Color="SnackbarColor.Success">
    <SnackbarBody TextWeight="TextWeight.Bold">
        (@MembershipToBeDeleted.Member.Id) @MembershipToBeDeleted.Member.FirstName @MembershipToBeDeleted.Member.LastName er blevet fjernet fra @Group.Name
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="_snackbarError" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        (@MembershipToBeDeleted.Id) @MembershipToBeDeleted.Member.FirstName @MembershipToBeDeleted.Member.LastName kunne ikke fjernes fra @Group.Name 
    </SnackbarBody>
</Snackbar>

@code {

    [Parameter]
    public MemberGroup Group { get; set; } = new();

    [Parameter]
    public Membership MembershipToBeDeleted { get; set; } = new();

    [Parameter]
    public EventCallback OnGroupContentChanged { get; set; }

    private Modal? _removeMemberModalRef;
    private Snackbar _snackbarSuccess = new();
    private Snackbar _snackbarError = new();

    public async Task Show()
    {
        await _removeMemberModalRef!.Show();
    }

    private async Task OnRemoveButton_Clicked()
    {
        var success = await MembershipService.RemoveMembership(MembershipToBeDeleted.Id);

        if (!success)
        {
            await _snackbarError.Show();
            return;
        }

        Group.Memberships.Remove(MembershipToBeDeleted);
        await _snackbarSuccess.Show();
        await OnGroupContentChanged.InvokeAsync();
        await _removeMemberModalRef!.Hide();
    }

    private async Task OnCancelButton_Clicked()
    {
        await _removeMemberModalRef!.Hide();
    }
}