<Modal @ref="_removeMemberModal">
    <ModalContent>
        <ModalHeader>Fjern @Member.FirstName @Member.LastName fra @GroupToBeRemoved.Name?</ModalHeader>
        <ModalBody>
            <Div>
                <Button Color="Color.Danger" Clicked="OnRemoveButton_Clicked">Slet</Button>
                <Button Color="Color.Secondary" Clicked="OnCancelButton_Clicked">Afbryd</Button>
            </Div>
            <br/>
        </ModalBody>
    </ModalContent>
</Modal>

<Snackbar @ref="_snackbarError" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        @GroupToBeRemoved.Name kunne ikke fjernes fra @Member.FirstName @Member.LastName
    </SnackbarBody>
</Snackbar>

@code {

    [Parameter]
    public Member Member { get; set; } = new();

    [Parameter]
    public MemberGroup GroupToBeRemoved { get; set; } = new();

    [Parameter]
    public EventCallback OnListContentChanged { get; set; }

    private Modal _removeMemberModal = new();
    private Snackbar _snackbarError = new();
    
    public async Task Show()
    {
        await _removeMemberModal.Show();
    }

    private async Task OnRemoveButton_Clicked()
    {
        var result = await GroupService.RemoveMemberFromGroup(GroupToBeRemoved.Id, Member.Id);

        if (!result)
        {
            await _snackbarError.Show();
            return;
        }

        await _removeMemberModal.Hide();
        await OnListContentChanged.InvokeAsync();
    }

    private async Task OnCancelButton_Clicked()
    {
        await _removeMemberModal.Hide();
    }
}